/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
  background-color: #f7f7f7;
}
.hidden {
  /* this hides the element, but keeps it rendered */
  visibility: hidden;

  /* this removes the element entirely, making things a bit glitchy visually */
  /* display: none; */
}
.pizza > img {
  width: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
h1 {
  text-align: center;
  font-size: 2.5em;
  margin: 0;
  position: absolute;
  left: 100vh;
}
i {
  color: rgb(180, 18, 18);
}
ul {
  list-style-type: none;
  position: absolute;
  left: 100vh;
  top: 2em;
  padding: 0;
}
li {
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em;
}
span {
  font-size: 0.5em;
}
li:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: center;
}

.total h3 {
  margin: 0.5em 0;
}

/* Responsive */

@media all and (max-width: 800px) {
  body {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  h1 {
    position: inherit;
  }
  .pizza > img {
    top: 3em;
    width: 100vw;
  }
  ul {
    position: absolute;
    top: 110vw;
    left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  ul > h3 {
    text-align: center;
    flex-basis: 100%;
  }
  .total {
    flex-basis: 100%;
  }
}
